body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
}


a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 3pt;
	margin: 0;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10pt;
	height: 10pt;
	border-radius: 50%;
	background: white;
}
  
.slider::-moz-range-thumb {
	width: 10pt;
	height: 10pt;
	border-radius: 50%;
	background: white;
}
